/* font-family: arial; verdana; sans-serif */
/* arial, verdana dinamakan ? nama font */
/* sans-serif dinamakan? generic family */

h1 {
    font-family: arial;
    font-size: 100px;
    font-variant: small-caps;
    font-style: italic;

}

p {
    font-family: Georgia, serif;
    font-weight: bold;
    line-height: 50px;
}

/* urutan font */
/*body {
    font-style: italic;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    font-family: arial;
} */